
<%- include("partials/header"); -%>

    <section class="introContainer">
        <img src="/images/Introduction.png" alt="" class="introImage">
        <div class="introProfileContainer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur placeat facere mollitia, atque aut ea, ratione voluptatem delectus dolores quidem nihil vel, odit amet fugiat! Expedita possimus consequuntur, nemo sunt beatae perferendis accusantium laborum quis repudiandae quaerat blanditiis similique ipsa eaque distinctio veniam officiis labore dolorem ea, tempore obcaecati! Ratione?</p>
            <img src="/images/profilepic2.png" alt="" srcset="">
        </div>
    </section>

    <section class="skillsContainer">
        <img src="/images/Skills.png" alt="" class="skillsImage">
        <img src="/images/1.png" alt="" class="skillsChild">
        <img src="/images/2.png" alt="" class="skillsChild">
        <img src="/images/3.png" alt="" class="skillsChild">
    </section>


<%- include("partials/footer"); -%> 