<%- include("partials/header"); -%>

<div class="thanksContainer">
    <img src="/images/thanks.png" alt="">
    <p>We appreciate you contacting us.</p>
    <p>We will reach out to you soon.</p>
</div>

<%- include("partials/footer"); -%>