
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* Navbar styling starts here.. */
header {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 10px auto;
  padding: 10px;
}

header .logo {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  top: -25px;
}

header .logo img {
  position: absolute;
  z-index: 5;
  width: 175px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  margin: 0 10px;
}

header nav a {
  font-size: large;
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header .contact-info {
  display: flex;
  align-items: center;
}

header .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header .social-media li {
  margin-right: 10px;
}

header .social-media a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .social-media i {
  font-size: 24px;
  margin-right: 5px;
  transition: transform 0.3s;
}

header .social-media i:hover {
  color: #7effff;
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none !important; 
  display: inline-block;
  transition: transform 0.3s;
}

nav a:hover {
  color: #7effff;
  transform: scale(1.1);
}

/* Responsive styles */
@media screen and (max-width: 1000px) {
  header .contact-info {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header .container {
    flex-direction: row;
  }

  header .contact-info {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(750%) rotate(45deg);
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-650%) rotate(-45deg);
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 90vh;

    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    background-color: #33333382; /* Adjust the background color and opacity */
    
    padding: 10px;
  }

  .menu-toggle:checked ~ nav li {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }

  .menu-toggle:checked ~ nav {
    display: block;
  }

  .menu-toggle:checked ~ nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Main container for each page */
.Container {
  background-color: #d2cdcd;
}

.Container h1{
    color: #fff;
}

/* About page Styling starts here */
section {
    position: relative;
    text-align: center;
    min-height: 100vh;
}

.introContainer {
  position: relative;
    display: flex;
    padding: 100px 100px 30px;
    background-color: #d2cdcd;
    align-items: center;
}

.introImage, .skillsImage {
  width: 320px;
}

.introProfileContainer {
  position: relative;
  width: 60%;
  align-items: center;
}

.introContainer .profileImage {
  position: absolute;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: 40%;
  z-index: 2;
}

.introProfileContainer p {
  font-size: 25px;
  margin: 20px 0;
}

.skillsContainer {
  background-color: #fff;
  position: relative;
  padding: 50px 0;
}

.skillsContainer .skillsChild {
  position: relative;
  width: 100%;
}

.skillsContainer h1 {
  color: #000;
}

@media screen and (max-width: 700px){
  .introContainer {
    padding: 100px 10px 0;
    display: block;
  }

  .introContainer .profileImage, .introProfileContainer {
    position: relative;
    width: 100%;
  }
}

/* Contact Page styling starts here.. */
.contact{
  position: relative;
  padding: 100px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/images/contactBackground.png');
  background-size: cover;
}

.contact .contactContent {
  max-width: 800px;
  text-align: center;
}

.contact .contactContent h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .contactContent p {
  font-weight: 300;
  color: #fff;
}

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactContainer .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactContainer .contactInfo .contactInfoChild {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.contactContainer .contactInfo .contactInfoChild .contactIcon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contactContainer .contactInfo .contactInfoChild .text {
  display: flex;
  margin: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactContainer .contactInfo .contactInfoChild .text h3 {
  font-weight: 600;
  color: #00bcd4;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .contactInputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .contactInputBox input,
.contactForm .contactInputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .contactInputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .contactInputBox input:focus ~ span,
.contactForm .contactInputBox input:valid ~ span,
.contactForm .contactInputBox textarea:focus ~ span,
.contactForm .contactInputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

@media screen and (max-width: 700px) {
  .contact {
    padding: 80px 10px 10px;
  }

  .contactContainer {
    flex-direction: column;
  }

  .contactContainer .contactInfo,  .contactContainer .contactForm{
    width: 100%;
    margin-bottom: 30px;
  }


}

/* Thanks page for conatcting us */
.thanksContainer {
  background-color: #fff;
  display:flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

/* Compose Blog page Styling Starts here.. */
.composeContainer {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px 0;
  min-height: 100vh;
  background-image: url('/images/contactBackground.png');
  background-size: cover;
}

.composeContainer form {
  width: 100%;
}

.composeContainer .composeChild {
  width: 100%;
  margin: 20px 0;
}

.composeContainer label{
  color: #fff;
  font-size: large;
  font-weight: bold;
}

.composeContainer input {
  border: none;
  padding: 12px 15px;
  width: 100%;
  border-radius: 4px;
}

.postBodyTextArea{
  background-color: #fff;
  border-radius: 4px;

}

.ql-toolbar.ql-snow, .ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border-bottom: 2px solid #285774;
}

.ql-snow.ql-toolbar button {
  background: transparent;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover {
  padding: 0;
}

.composeContainer .postBody {
  display: flex;
  flex-direction: column;
}

.ql-editor img {
  max-width: 100%; /* Limit the width of the image to fit within its container */
  border-radius: 5px; /* Add rounded corners to the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.composeContainer button, .contactForm button {
  position: relative;
  width: 100%;
  background-color: #3878a0;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.composeContainer button:hover, .contactForm button:hover{
  background-color: #fff;
  color: #3878a0;
  border: 2px solid #3878a0;
  padding: 8.5px;
}


/* Blog home page Styling starts here.. */
.blogContainer {
  padding: 100px 100px 50px;
}

.singleBlogContainer {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
}

.singleBlogContainer h1 {
  margin: 10px 0;
  color: #333;
}

.singleBlogContainer .date {
  margin: 10px 0;
  color: #a4a4a4;
}

.singleBlogContainer p {
  margin: 25px 0;
}

.singleBlogContainer p img {
  max-width: 100%; /* Limit the width of the image to fit within its container */
  border-radius: 5px; /* Add rounded corners to the image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.singleBlogContainer a {
  text-decoration: none;
}

.singleBlogContainer a:hover {
  color: #7effff;
}


@media screen and (max-width: 500px){
  .blogContainer, .composeContainer {
    padding: 100px 10px 50px;
  }
}

/* Footer Styling starts here.. */
footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  footer .container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  
  footer .container p {
    margin: 0;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }